@model ABSignV2.Sign
@{
    ViewBag.Title = "Details";
}

<style>
    body {
        background-color: #17A2B8;
        font-family: 'Baloo', cursive;
    }

   h3, #signNameDetail {
        color: #fff;
    }

   #signNameDetail {
       font-size: 5rem;
       padding: 40px;
   }

   .dl-horizontal {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;
   }

    #back a {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-bottom: 1px dashed #fff;
        float: right;
    }

</style>

<h3>Details</h3>

<div class="details">
    <hr />
<p id="back">@Html.ActionLink("← Back to List", "Index")</p>
    <div class="dl-horizontal">
        <div id="signNameDetail">
            @Html.DisplayFor(model => model.SignName)
        </div>
        <div>
            <img src="@Model.GetImageDataUri()" />
        </div>
    </div>
    @if (Model.AdminUpload == false)
    {
        @Html.ActionLink("Add image for sign", "Create", "Images", new { id = Model.SignID }, null)
    }
</div>

<br />
